@function divceil($that, $divid, $unit: "%") {
  $result: 1; 
  @if $unit=="%" {
    $result: ceil($that*100000/$divid)/1000;
    @return percentage($result/100);
  } @else {
    @if $unit=="em" {
      $result: ceil($that*1000/$divid)/1000;
    } @else {
      $result: ceil($that*100000/$divid)/1000;
    }
    @return $result + unquote($unit); 
  }
}
@mixin mq($breakpoint: "min-width: 768px") {
  @media screen and ($breakpoint) {
    @content;
  }
}
@mixin btnColor($set) {
  background: map-get($set, "bgBase");
	color: map-get($set, "font");
	.isMD &:hover {
		background: map-get($set, "side");
	}
	.isMD &:active, .isTD &:active {
    background: map-get($set, "font");
    border-color: map-get($set, "font");
    color: #fff;
	}
	&.isNoActive {
    border-color: map-get($set, "bgBase");
		color: map-get($set, "bgActive");
	}
}
@mixin fontWeight($weight) {
  @if $weight == "regular" {
    font-weight: 400;
  } @else if $weight == "bold" {
    font-weight: 700;
  } @else {
    font-weight: $weight;
  }
}
@mixin endLeader() {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

$font: source-han-sans-japanese;
$num: futura-pt;
$icon: "Scheduleicon";
$btn: fot-tsukuardgothic-std;

$btn-nml: (
	font: #3c3c3c,
	bgBase: #e2e2e2,
	bgActive: #d0d0d0,
	side: #a3a3a3
);
$btn-prj: (
	font: #1a4c86,
	bgBase: #e8f1fc,
	bgActive: #c2d6ef,
	side: #75aae6
);
$btn-tsk: (
	font: #6d5d18,
	bgBase: #faf3d3,
	bgActive: #efe0a3,
	side: #ddc560
);
$btn-font: (
	nml: map-get($btn-nml, "font"),
	prj: map-get($btn-prj, "font"),
	tsk: map-get($btn-tsk, "font"),
);
$btn-base: (
	nml: map-get($btn-nml, "bgBase"),
	prj: map-get($btn-prj, "bgBase"),
	tsk: map-get($btn-tsk, "bgBase"),
);
$btn-active: (
	nml: map-get($btn-nml, "bgActive"),
	prj: map-get($btn-prj, "bgActive"),
	tsk: map-get($btn-tsk, "bgActive"),
);
$btn-side: (
	nml: map-get($btn-nml, "side"),
	prj: map-get($btn-prj, "side"),
	tsk: map-get($btn-tsk, "side"),
);
$btn-icon: (
	prj: $project,
	tsk: $task,
);

$black1: #1a1a1a;
$black2: #434343;
$gray1: #f9f9f9;
$gray2: #606060;
$gray3: #d8d8d8;
$gray4: #a3a3a3;
$gray5: #c4c4c4;
$gray6: #eaeaea;
$gray7: #f2f2f2;