$clear: "\6d88";// ×
$plus: "\5897";// +
$minus: "\6e1b";// -
$down: "\4e0b";
$up: "\4e0a";
$left: "\5de6";
$right: "\53f3";
$remove: "\68c4";
$check: "\5370";
$colorpicker: "\8272";
$link: "\7e4b";
$setting: "\8a2d";
$menu: "\9805";
$new: "\65b0";
$view: "\89a7";
$edit: "\7de8";
$change: "\66ff";
$search: "\7d22";
$sort: "\7d5e";
$starfull: "\6709";
$starnone: "\7121";
$loop: "\8f2a";
$notice: "\5831";
$guide: "\5c0e";
$fire: "\9650";
$schedule: "\671f";
$task: "\8ab2";
