// Material Icons
$alert: "\8b66";// warning
$place: "\6240";// location_on
$plus: "\8db3";// add
$clear: "\6d88";// clear
$task: "\8ab2";// content_paste
$edit: "\7de8";// create
$link: "\7e4b";// link
$minus: "\5f15";// remove
$priority: "\5ea6";// outlined_flag
$project: "\4ef6";// folder_open
$down: "\4e0b";// keyboard_arrow_down
$left: "\5de6";// keyboard_arrow_left
$right: "\53f3";// keyboard_arrow_right
$up: "\4e0a";// keyboard_arrow_up
$label: "\7b8b";// local_offer
$menu: "\9805";// more-vertical
$change: "\66ff";// unfold_more
$chart: "\8868";// show_chart
$notice: "\77e5";// notifications_none
$member: "\4eba";// person_outline
$star: "\661f";// star
$search: "\7d22";// search
$setting: "\8a2d";// tool
$datepicker: "\65e5";// today
$guide: "\6ce8";// lightbulb_outline
$remove: "\524a";// delete_outline
$sort: "\7d5e";// filter_alt
$fire: "\9650";// local_fire_department
$pin: "\7559";// push_pin

