// Feather
$clear: "\6d88";// x
$plus: "\5897";// plus
$minus: "\6e1b";// minus
$down: "\4e0b";// chevron-down
$up: "\4e0a";// chevron-up
$left: "\5de6";// chevron-left
$right: "\53f3";// chevron-right
$remove: "\68c4";// trash
$check: "\5370";// check
$colorpicker: "\8272";// droplet
$link: "\7e4b";// link
$setting: "\8a2d";// tool
$menu: "\9805";// more-vertical
$new: "\65b0";// file-plus
$view: "\89a7";// eye
$edit: "\7de8";// edit-3
$change: "\66ff";// code
$search: "\7d22";// search
$sort: "\7d5e";// filter
$loop: "\8f2a";// refresh-cw
$notice: "\5831";// bell
$member: "\4eba";// user
$guide: "\5c0e";// message-circle
$fire: "\9650";// alert-triangle
$label: "\7b8b";// bookmark
$schedule: "\671f";// calendar
$task: "\8ab2";// list

// Typicons
$star: "\661f";// star
