@import "_pseudo";
@import "_mixin";

.datepicker {
    background: $gray1;
	padding: divceil(8, 16, "em");
	.heads {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		padding: 0 0 divceil(12, 16, "em");
		> p {
            margin: 0;
            letter-spacing: 0.05em;
			font-size: divceil(20, 16, "em");
		}
		> button {
            position: relative;
            background: map-get($btn-nml, "bgBase");
            border-radius: 50%;
            width: divceil(16*2, 16, "em");
            height: divceil(16*2, 16, "em");
            color: map-get($btn-nml, "font");
            &::before {
                position: absolute;
                left: 50%;
                top: 50%;
                font-family: $icon;
            }
            &.prv::before {
                content: $left;
                transform: translate(-52%, -52%);
            }
            &.nxt::before {
                content: $right;
                transform: translate(-48%, -52%);
            }
            .isMD &:hover {
                background: map-get($btn-nml, "bgActive");
            }
            .isMD &:active, .isTD &:active {
                background: map-get($btn-nml, "font");
                color: #fff;
            }
            &.isNoActive {
                color: map-get($btn-nml, "bgActive");
            }
		}
	}
	.dates {
        .month {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-row-gap: 4px;
            grid-column-gap: 4px;
            line-height: 1;
            .day {
                position: relative;
                background: map-get($btn-nml, "bgBase");
                border-radius: 3px;
                width: divceil(40, 16, "em");
                height: divceil(40, 16, "em");
                text-align: center;
                > a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    color: map-get($btn-nml, "font");
                    cursor: pointer;
                    .isMD &:hover {
                        background: map-get($btn-nml, "bgActive");
                    }
                    .isMD &:active, .isTD &:active {
                        background: map-get($btn-nml, "font");
                        color: #fff;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        pointer-events: none;
                    }
                    > span {
                        display: block;
                        position: relative;
                        z-index: 5;
                    }
                    &.isBet {
                        color: #fff;
                        &::before {
                            background: map-get($btn-nml, "side");
                            left: -2px;
                            right: -2px;
                        }
                    }
                    &.isStart::before {
                        border-bottom-left-radius: 3px;
                        border-top-left-radius: 3px;
                        left: 0;
                    }
                    &.isEnd::before {
                        border-bottom-right-radius: 3px;
                        border-top-right-radius: 3px;
                        right: 0;
                    }
                }
                &:nth-child(7n+1) > a::before {
                    left: 0 !important;
                }
                &:nth-child(7n) > a::before {
                    right: 0 !important;
                }
            }
        }
	}
	.foots {
		margin: divceil(12, 16, "em") 0 0;
        text-align: center;
		> button {
            display: block;
            margin: 0 auto;
		}
	}
}