@import "_pseudo";
@import "_mixin";

.datepicker {
    background: $gray1;
	padding: divceil(8, 16, "em");
	.heads {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		padding: 0 0 divceil(12, 16, "em");
		> p {
            margin: 0;
            letter-spacing: 0.05em;
			font-size: divceil(20, 16, "em");
		}
		> button {
            position: relative;
            background: map-get($btn-nml, "bgBase");
            border-radius: 50%;
            width: divceil(16*2, 16, "em");
            height: divceil(16*2, 16, "em");
            color: map-get($btn-nml, "font");
            &::before {
                position: absolute;
                left: 50%;
                top: 50%;
                font-family: $icon;
            }
            &.prv::before {
                content: $left;
                transform: translate(-52%, -52%);
            }
            &.nxt::before {
                content: $right;
                transform: translate(-48%, -52%);
            }
            .isMD &:hover {
                background: map-get($btn-nml, "bgActive");
            }
            .isMD &:active, .isTD &:active {
                background: map-get($btn-nml, "font");
                color: #fff;
            }
            &.isNoActive {
                color: map-get($btn-nml, "bgActive");
            }
		}
	}
	.dates {
        .month {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-row-gap: 4px;
            grid-column-gap: 4px;
            line-height: 1;
            .day {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                background: map-get($btn-nml, "bgBase");
                width: divceil(40, 16, "em");
                height: divceil(40, 16, "em");
                text-align: center;
                color: map-get($btn-nml, "font");
                cursor: pointer;
                &:empty {
                    background: transparent;
                    pointer-events: none;
                }
                .isMD &:hover {
                    background: map-get($btn-nml, "bgActive");
                }
                .isMD &:active, .isTD &:active {
                    background: map-get($btn-nml, "font");
                    color: #fff;
                }
            }
        }
	}
	.btnArea {
		margin: divceil(8, 16, "em") 0 0;
		> button {
			display: block;
			margin: 0 auto;
		}
	}
}