@import "_pseudo";
@import "_mixin";

.lbllist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $gray1;
    padding: divceil(8, 16, "em");
    .checked {
        margin: 0;
    }
    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin: 0 0 divceil(8, 16, "em");
        > i {
            flex-shrink: 0;
            display: block;
            border: 1px solid $gray2;
            width: divceil(28, 16, "em");
            height: divceil(28, 16, "em");
            margin: 0 divceil(6, 16, "em") 0 0;
        }
        > button {
            flex-shrink: 0;
            margin: 0 0 0 divceil(6, 16, "em");
        }
        .colorpicker {
            left: divceil(-8, 16, "em") !important;
            // right: divceil(48-8-36, 16, "em") !important;
            margin: 1px 0 0;
        }
    }
    > ul {
        max-height: 100%;
        margin: 0;
        padding: 0;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            background: $gray6;
            width: divceil(4, 16, "em");
        }
        &::-webkit-scrollbar-thumb {
            background: $gray2;
        }
        > li {
            display: block;
            padding: divceil(4, 16, "em") 0;
            line-height: divceil(28, 16, "em");
            &.isChecked {
                // display: none;
                background: map-get($map: $btn-nml, $key: side);
                color: #fff;
                // pointer-events: none;
                > a {
                    padding: 0 divceil(8, 16, "em");
                    &::before {
                        content: none;
                    }
                }
            }
            > a {
                display: flex;
                align-items: center;
                position: relative;
                padding: 0 divceil(6, 16, "em");
                color: inherit;
                @include endLeader();
                cursor: pointer;
                &::before {
                    content: $right;
                    margin: 0 divceil(4, 16, "em") 0 0;
                    font-family: $icon;
                }
                > i {
                    display: block;
                    border: 1px solid $gray2;
                    width: 1.1em;
                    height: 1.1em;
                    margin: 0 divceil(6, 16, "em") 0 0;
                }
            }
        }
    }
    .note {
        margin: 0;
    }

}