.mmblist { background: #f9f9f9; padding: 0.5em; }

.mmblist > div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.mmblist > div > button { -ms-flex-negative: 0; flex-shrink: 0; margin-left: 0.5em; }

.mmblist > ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin: 0; padding: 0.625em 0 0; line-height: 1; overflow-y: scroll; }

.mmblist > ul > li { display: block; }

.mmblist > ul > li.isCandidate { -webkit-box-ordinal-group: -4; -ms-flex-order: -5; order: -5; }

.mmblist > ul > li.isCandidate > a { background: #e2e2e2; }

.mmblist > ul > li.isChecked { -webkit-box-ordinal-group: -9; -ms-flex-order: -10; order: -10; }

.mmblist > ul > li.isChecked > a { background: #a3a3a3; color: #fff; }

.mmblist > ul > li > a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0.5em 0.625em; cursor: pointer; }

.mmblist > ul > li > a > figure { -ms-flex-negative: 0; flex-shrink: 0; background: #fff; border-radius: 50%; width: 2em; height: 2em; margin: 0 0.5em 0 0; line-height: 0; overflow: hidden; pointer-events: none; }

.mmblist > ul > li > a > figure > img { max-width: 100%; max-height: 100%; }

.mmblist > ul > li > a > p { width: 100%; margin: 0; pointer-events: none; }

.mmblist > ul > li > a:hover { background: #d0d0d0; }
