@charset "UTF-8";
@import "_pseudo";
@import "_mixin";

.show {
display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	background: #fff;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9000;
  .header {
    flex-shrink: 0;
    position: relative;
    height: divceil(50, 16, "em");
    padding: 0 divceil(10, 16, "em");
    @include fontWeight("bold");
    text-align: left;
    z-index: 1500;
    &::before {
      // content: "";
      position: absolute;
      background: $gray1;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      pointer-events: none;
      z-index: 5;
    }
    > h1 {
      position: relative;
      margin: 0;
      letter-spacing: 0.07em;
      line-height: divceil(50, 20, "em");
      font-size: divceil(20, 16, "em");
      font-family: $font, sans-serif;
      font-feature-settings: "palt";
      z-index: 5;
    }
    > button {
      position: absolute;
      right: divceil(10, 16, "em");
      top: 50%;
      transform: translate(0, -50%);
      z-index: 5;
    }
  }
  .body {
    height: 100%;
    padding: divceil(10, 16, "em");
	  overflow-y: scroll;
    > .switch {
      display: flex;
      align-items: baseline;
      border-bottom: 2px solid $gray1;
      padding: 0 divceil(8, 16, "em");
      > button {
        + button {
          margin-left: divceil(10, 16, "em");
        }
      }
    }
    > .tab {
      margin: divceil(10, 16, "em") 0 0;
      > ul {
        margin: 0;
        padding: 0;
        > li {
          display: block;
          position: relative;
          background: $gray1;
          padding: divceil(8, 16, "em") divceil(10, 16, "em") divceil(10, 16, "em");
          .label {
            position: absolute;
            border-left: divceil(10, 16, "em") solid transparent;
            border-right: divceil(10, 16, "em") solid;
            border-top: divceil(10, 16, "em") solid transparent;
            border-bottom: divceil(10, 16, "em") solid;
            width: 0;
            height: 0;
            right: 0;
            bottom: 0;
            margin: 0;
            line-height: 1;
            pointer-events: none;
            > span {
              display: block;
              position: absolute;
              width: 10em;
              right: divceil(2, 12, "em");
              bottom: 0;
              font-size: divceil(12, 16, "em");
              text-align: right;
              @include endLeader();
            }
          }
          .title {
            margin: 0;
            padding: divceil(4, 16, "em") divceil(118, 16, "em") 0 0;
            line-height: 1;
            font-size: divceil(16, 16, "em");
            @include endLeader();
          }
          .member {
            display: flex;
            align-items: center;
            margin: divceil(32-18+4-4, 16, "em") 0 0;
            padding: 0;
            line-height: 0;
            list-style: none;
            overflow-x: scroll;
            > li {
              height: divceil(24, 16, "em");
              > figure {
                display: block;
                border-radius: 50%;
                height: 100%;
                margin: 0;
                overflow: hidden;
                img {
                  max-height: 100%;
                }
              }
              + li {
                margin-left: divceil(5, 16, "em");
              }
            }
          }
          .date {
            display: flex;
            align-items: center;
            margin: divceil(10, 16, "em") 0 0;
            line-height: 1;
            &::before {
              content: $datepicker;
              margin-right: 0.2em;
              line-height: 1;
              font-family: $icon;
              transform: translate(0, 1px);
            }
            > p {
              margin: 0;
              &.alt {
                color: map-get($map: $btn-alt, $key: "side");
              }
              + p {
                margin-left: 0.3em;
                &::before {
                  content: "~";
                  margin-right: 0.3em;
                  // color: $black1;
                }
              }
            }
          }
          .status {
            margin: divceil(10, 16, "em") 0 0;
            line-height: 1;
            > p {
              position: relative;
              margin: 0;
              font-size: divceil(12, 16, "em");
              &.stt0 {
                color: $stt0;
              }
              &.stt1 {
                color: $stt1;
              }
              &.stt2 {
                color: $stt2;
              }
              &.alt {
                padding: 0 0 0 divceil(16, 12, "em");
                font-weight: bold;
                &::before {
                  content: $fire;
                  position: absolute;
                  left: 0;
                  top: 50%;
                  font-size: 1.2em;
                  font-family: $icon;
                  color: map-get($map: $btn-alt, $key: "side");
                  transform: translate(0, -45%);
                }
              }
            }
          }
          .btns {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
            right: divceil(10, 16, "em");
            top: divceil(8, 16, "em");
            > button {
              + button {
                margin-left: divceil(6, 16, "em");
              }
            }
          }
          + li {
            margin-top: divceil(10, 16, "em");
          }
        }
      }
      > p {
        margin: 0;
        line-height: 1;
      }
    }
  }
  .footer {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $gray1;
    height: divceil(50, 16, "em");
    padding: 0 divceil((50-34)/2, 16, "em");
    > button {
      margin: 0 divceil(16, 16, "em");
    }
  }
}